<div>
    <h2>Blog App</h2>
    <div *ngIf="error">
        <p>Unfortunately an unforeseen error has occured</p>
        <button (click)="clearError()" routerLink="/users">OK</button>
    </div>
    <div *ngIf="!error">
        <h3>{{ selectedUser?.name }}</h3>
        <!-- {{ selectedUser | json }} -->
        <h4 *ngIf="selectedUser?.blogs?.length === 0" >This user has no blogs posted yet...</h4>
        <h4 *ngIf="selectedUser?.blogs?.length !== 0" >Added blogs:</h4>
        <ul *ngFor="let blog of selectedUser?.blogs">
            <li><a [routerLink]="['/blogs', blog.id]"
             >{{ blog.title }}</a></li>
        </ul>
    </div>
</div>

