<div>
    <button mat-raised-button color="primary" *ngIf="!visible" (click)="showForm()">Create new blog</button>
    <form *ngIf="visible" #blogForm="ngForm" (ngSubmit)="onSubmit(blogForm)">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput name="title" type="text" [(ngModel)]="title" required>
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>Author</mat-label>
            <input matInput name="author" type="text" [(ngModel)]="author" required>
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>URL</mat-label>
            <input matInput name="url" type="url" [(ngModel)]="url" required placeholder="https://example.com"
            pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)">
        </mat-form-field><br>

       
        <button mat-raised-button color="primary" [disabled]="blogForm.invalid" type="submit">Create</button>
        |
        <button mat-raised-button (click)="visible = !visible" type="button">Cancel</button>
        
    </form>
    <br>
</div>