<mat-card>

<form *ngIf="!visible" [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <h2>Log in</h2>

    <mat-form-field>
        <mat-label for="username">Username:</mat-label>
        <input matInput type="text" id="username" name="username" formControlName="username" required>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-label for="password">Password:</mat-label>
        <input matInput type="password" id="password" name="password" formControlName="password" required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" [disabled]="loginForm.invalid" type="submit">Login</button>
    <p>Not yet registered? <button mat-raised-button (click)="visible = !visible">Sign up!</button></p>
</form>

<form *ngIf="visible" [formGroup]="signupForm" (ngSubmit)="registerUser()">
    <h2>Sign up</h2>

    <mat-form-field>
        <mat-label for="firstname">Firstname:</mat-label>
        <input matInput type="text" id="firstname" name="firstname" formControlName="firstname" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label for="lastname">Lastname:</mat-label>
        <input matInput type="text" id="lastname" name="lastname" formControlName="lastname" required>
    </mat-form-field><br>

    <mat-form-field>
        <mat-label for="username">Username:</mat-label>
        <input matInput type="text" id="username" name="username" formControlName="username" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label for="password">Password:</mat-label>
        <input matInput type="password" id="password" name="password" formControlName="password" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label for="rePassword">Repeat password:</mat-label>
        <input matInput type="password" id="rePassword" name="rePassword" formControlName="rePassword" required>
        <mat-error
            *ngIf="signupForm.hasError('mismatch') && (rePassword.dirty || rePassword.touched)"
        >Passwords do not match!</mat-error>
    </mat-form-field><br>
    
    <button mat-raised-button color="primary" [disabled]="signupForm.invalid" type="submit">Register</button>
    <p>Already a registered user? <button mat-raised-button (click)="visible = !visible">Login</button></p>
</form>

</mat-card>