<mat-card *ngIf="blog">
    <mat-card-title><span>{{ blog.title }}</span> <button (click)="removeBlog()"  *ngIf="ownBlog"  mat-raised-button color="warn">Delete</button></mat-card-title>
   
    <!-- <div *ngIf="selectedBlog$ | async as blog">
    <h1>{{ blog.title }}</h1>
    <a [href]="blog.url" target="_blank">{{blog.url}}</a>
    <p>{{ blog.likes }} likes <button (click)="likeBlog(blog.likes ?? 0)">Like</button></p>

    <h3>Comments</h3>
    <textarea required type="text" name="comment" [(ngModel)]="newComment"
        placeholder="input your comment here..."></textarea>
    <button 
        [ngStyle]="{'display': 'block'}" 
        [disabled]="!newComment" 
        (click)="submitComment()">Add comment</button>
    <ul *ngFor="let comment of blog?.comments">
        <li>{{ comment }}</li>
    </ul>
</div> -->
    <mat-card-content>
        
        <a [href]="blog.url" target="_blank">{{blog.url}}</a>
        <br>
        <h4>{{ blog.likes }} likes <button *ngIf="!ownBlog" mat-raised-button (click)="likeBlog(blog.likes ?? 0)">Like</button></h4>

        <h3>Comments</h3>
        <mat-form-field>
            <mat-label>Leave a comment...</mat-label>
            <textarea matInput required type="text" name="comment" [(ngModel)]="newComment"></textarea>
        </mat-form-field> <br>
        <button mat-raised-button color="primary" [disabled]="!newComment" (click)="submitComment()">Add
            comment</button>
        <mat-list *ngFor="let comment of blog?.comments">
            <mat-list-item>{{ comment }}</mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>